<header class="bg-zinc-600 text-white flex justify-between items-center px-6">
    <h1 class="font-medium text-3xl py-3">Logo</h1>
    <nav>
        <ul class="flex items-center gap-4">
            <li class="p-2 font-medium cursor-pointer hover:text-gray-400 transition duration-300" routerLink="home">
                Home</li>
            <li class="p-2 font-medium cursor-pointer hover:text-gray-400 transition duration-300" routerLink="about">
                About</li>
            <li class="p-2 font-medium cursor-pointer hover:text-gray-400 transition duration-300" routerLink="contact">
                Contact</li>
            <li class="p-2 font-medium cursor-pointer hover:text-gray-400 transition duration-300" routerLink="forms">
                Forms</li>
        </ul>
    </nav>
</header>