.active {
    background-color: red;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.not-active {
    background-color: green;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.apple {
    background-color: orange;
    color: white;
    border: none;
}